@import 'reset';
@import 'mixins/mixins';

body {
  font: var(--font-m);
  color: var(--color-main);
}

[class*='_container'] {
  box-sizing: content-box;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 rem(15);

  @media (width <= em(479.98)) {
    max-width: none;
  }
}
