@import '../../../app/styles/mixins/mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: rem(80);

  background-color: #99d0fb;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: rem(300);
  border: 1px solid red;
}
